* {
    margin: 0px;
}

header {
    background-image: linear-gradient(#0B0C10, #0B0C10,#1F2833);
    padding: 10px;
    padding-bottom: 25px;
}

footer {
    height: 100px;
    background-image: linear-gradient(#1F2833, #0B0C10, #0B0C10);
    padding-top: 15px;
    text-align: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: min(2.5vw, 18px);;
    background-color: #0B0C10;
    
}

main {
    background-color: #1F2833;
}

img {
    color: #66FCF1;
}

h1, h2, h3 {
    color: #45A29E
}

h1 {
    font-size: 2.5em;
    color: #66FCF1
}

h2 {
    font-size: 2em;
    color: #C5C6C7;
    font-weight: normal;
}

p, li {
    color: #C5C6C7
}

ul {
    padding: 0px;
}

li {
    margin: 5px 10px
}

ul, li {
    list-style: none;
    display: inline-block;
}

.title {
    text-align: center;
}

.links {
    text-align: center;
}

.details {
    text-align: center;
}

.section {
    border-radius: 8px;
    max-width: 800px;
    width: 80%;
    padding: 50px;
    margin: 0px auto;
    height: 400px;
    text-align: center;
}

.section-title {
    padding-top: 5px;
    padding-left: 5px;
}

.footer {
    padding-top: 50px
}
